<%- include('partials/emailheader') %>

<li class="nav-item">
	<a class="nav-link active spacing" aria-current="page" href="/ehome/<%= email %>">HOME</a>
  </li>
  <li class="nav-item">
	<a class="nav-link active spacing" aria-current="page" href="/emailabout/<%= email %>">ABOUT US</a>
  </li>
  <li class="nav-item">
	<a class="nav-link active spacing" aria-current="page" href="/emailcontact/<%= email %>">CONTACT US</a>
  </li>
  
</ul>

</div>
</div>
</nav>

<section class="container">
    <div class="row">
<%const ac = accounts.sort(function(a, b){return parseFloat(b.indi) - parseFloat(a.indi)}); ac.forEach(customer => {%>
   
            <div class="infoBody col-md-6 col-lg-4">
                
                    
                        <form action="/dashboard/<%= email %>/<%= customer.accNo %>" method="post">
                            <div class="card">
                                <div class="card-body bg-light cardMargin">
                                    <div class="form-floating">
                                        <select class="form-select" name="accountType" aria-label="Default select example" required>
                                            <option value="<%= customer.accName %>">Acc Name: <%= customer.accName %></option>
                                            
                                          </select>
                                      </div>
                                    <div class="form-floating">
                                        <select class="form-select" name="accountType" aria-label="Default select example" required>
                                            <option value="<%= customer.accNo %>">Acc No: <%= customer.accNo %></option>
                                            
                                          </select>
                                      </div>
                                    <div class="form-floating">
                                        <select class="form-select" name="accountType" aria-label="Default select example" required>
                                            <option value="<%= customer.accType %>">Acc Type: <%= customer.accType %></option>
                                            
                                          </select>
                                      </div>
                                    
                                    <br>
                                    <button class="btn btn-dark btn-lg lightLord download-button" style="color: antiquewhite;" 
                                    type="submit">
                                    Go To Dashboard
                                    </button>
                  
                                  </div>
                            </div>
                        </form>
          </div>
                
     
  <%});%>
</div>
</section>

<br>
<div class="container"><p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p></div>
<%- include('partials/footer') %>