<%- include('partials/adminhead') %>

<section class="container">
  <div class="row">
<%histories.forEach(history => {%>
 
          <% if (history.senderAccNo === HolderAccNo || history.receiverAccNo === HolderAccNo && history.status === 'Transaction Successful...') { %> 
          <div id="hide" style="margin-top: 3%;" class="infoBody dey col-md-6 col-lg-4">
            <form action="/adminreverse/<%= email %>/<%= HolderAccNo %>" method="post">
              <div class="card">
                  <div class="card-body bg-light cardMargin">
                      
                      <div class="form-floating">
                          <select class="form-select" name="id" aria-label="Default select example">
                              <option value="<%= history.username %>">Trans_ID: <%= history.username %></option>
                              
                            </select>
                        </div>
                      <div class="form-floating">
                          <select class="form-select" name="sender" aria-label="Default select example">
                              <option value="<%= history.senderName %>">Sender Name: <%= history.senderName %></option>
                              
                            </select>
                        </div>
                      <div class="form-floating">
                          <select class="form-select" name="senderaccno" aria-label="Default select example">
                              <option value="<%= history.senderAccNo %>">Sender AccNo: <%= history.senderAccNo %></option>
                              
                            </select>
                        </div>
                      <div class="form-floating">
                          <select class="form-select" name="amount" aria-label="Default select example">
                              <option value="<%= history.amountSent %>">Amount Sent: N<%= Number(history.amountSent).toLocaleString() %></option>
                              
                            </select>
                        </div>
                        <div class="form-floating">
                        <select class="form-select" name="receiver" aria-label="Default select example">
                            <option value="<%= history.receiverName %>">Receiver Name: <%= history.receiverName %></option>
                            
                          </select>
                      </div>
                    <div class="form-floating">
                        <select class="form-select" name="receiveraccno" aria-label="Default select example">
                            <option value="<%= history.receiverAccNo %>">Receiver AccNo: <%= history.receiverAccNo %></option>
                            
                          </select>
                      </div>
                    <div class="form-floating">
                        <select class="form-select" name="satus" aria-label="Default select example">
                            <option value="<%= history.status %>">status: <%= history.status %></option>
                            
                          </select>
                      </div>
                    <div class="form-floating">
                        <select class="form-select" name="time" aria-label="Default select example">
                            <option value="<%= history.createdOn %>">Time Of Transaction: <%= history.createdOn %></option>
                            
                          </select>
                      </div>
                      <button class="btn btn-dark btn-lg lightLord download-button" style="color: antiquewhite;" 
                                    type="submit">
                                    Reverse Transaction
                                    </button>
                      
    
                    </div>
              </div>
          </form>
  </div>
 <% }else if (history.senderAccNo === HolderAccNo && history.status === 'Transaction Failed...') {%> 
  <div id="hide" style="margin-top: 3%;" class="infoBody dey col-md-6 col-lg-4">
    <form action="#" method="post">
      <div class="card">
          <div class="card-body bg-light cardMargin">
              <div class="form-floating">
                  <select class="form-select" aria-label="Default select example">
                      <option value="<%= history.senderName %>">Sender Name: <%= history.senderName %></option>
                      
                    </select>
                </div>
              <div class="form-floating">
                  <select class="form-select" aria-label="Default select example">
                      <option value="<%= history.senderAccNo %>">Sender AccNo: <%= history.senderAccNo %></option>
                      
                    </select>
                </div>
              <div class="form-floating">
                  <select class="form-select" aria-label="Default select example">
                      <option value="<%= history.amountSent %>">Amount Sent: N<%= Number(history.amountSent).toLocaleString() %></option>
                      
                    </select>
                </div>
                <div class="form-floating">
                <select class="form-select" aria-label="Default select example">
                    <option value="<%= history.receiverName %>">Receiver Name: <%= history.receiverName %></option>
                    
                  </select>
              </div>
            <div class="form-floating">
                <select class="form-select" aria-label="Default select example">
                    <option value="<%= history.receiverAccNo %>">Receiver AccNo: <%= history.receiverAccNo %></option>
                    
                  </select>
              </div>
            <div class="form-floating">
                <select class="form-select" aria-label="Default select example">
                    <option value="<%= history.status %>">status: <%= history.status %></option>
                    
                  </select>
              </div>
            <div class="form-floating">
                <select class="form-select" aria-label="Default select example">
                    <option value="<%= history.createdOn %>">Time Of Transaction: <%= history.createdOn %></option>
                    
                  </select>
              </div>
              

            </div>
      </div>
  </form>
</div>
  <% } %> 

   
<%});%>


</section>


  <div style="margin-top: 3%;" class="infoBody nodey dashBoard container">
    <div class="row dash">
        <div class="pricing-column">
          <div class="card">
            
            <div class="card-body bg-light cardMargin">
              
              <p>No Transaction Available</p>
            
            </div>
  
    
          </div>
        </div>
  </div>
  </div>



</main>    
<br>
<div class="container"><p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p></div>

<script>
  


  function scrollBottom() {window.scrollTo(0, document.body.scrollHeight);}
if (document.addEventListener) document.addEventListener("DOMContentLoaded", scrollBottom, false)
else if (window.attachEvent) window.attachEvent("onload", scrollBottom);
</script>

<script>
  window.onload = function emptyCheck() {
    if(!document.getElementById("hide").classList.contains("dey")){
    document.querySelector('.nodey').style.display = 'block';
}  else if (document.getElementById("hide").classList.contains("dey")) {
      document.querySelector('.nodey').style.display = 'none';
    } 
    
  }


</script>
<%- include('partials/footer') %> 

