<%- include('partials/emailheader') %> 

<li class="nav-item">
  <a class="nav-link active spacing" aria-current="page" href="/ehome/<%= email %>">HOME</a>
</li>
<li class="nav-item">
<a class="nav-link active spacing" aria-current="page" href="/emailabout/<%= email %>">ABOUT US</a>
</li>
<li class="nav-item">
<a class="nav-link active spacing" aria-current="page" href="/emailcontact/<%= email %>">CONTACT US</a>
</li>
  
</ul>

</div>
</div>
</nav>

<section class="container">
  <div class="row">
    <div class="infoBody col-md-6 col-lg-4">
                
                    
  <form action="/dashboard/<%= email %>/<%= HolderAccNo %>" method="post">
      <div class="card">
          <div class="card-body bg-light cardMargin">
              <div class="form-floating">
                  <select class="form-select" name="accountType" aria-label="Default select example" required>
                      <option value="<%= HolderName %>">Acc Name: <%= HolderName %></option>
                      
                    </select>
                </div>
              <div class="form-floating">
                  <select class="form-select" name="accountType" aria-label="Default select example" required>
                      <option value="<%= HolderAccNo %>">Acc No: <%= HolderAccNo %></option>
                      
                    </select>
                </div>
              <div class="form-floating">
                  <select class="form-select" name="accountType" aria-label="Default select example" required>
                      <option value="<%= HolderAccType %>">Acc Type: <%= HolderAccType %></option>
                      
                    </select>
                </div>
              
              <br>
              <button class="btn btn-dark btn-lg lightLord download-button" style="color: antiquewhite;" 
              type="submit">
              Go To Dashboard
              </button>

            </div>
      </div>
  </form>
</div>
  </div>
</section>
  
      <br>
      <div class="container"><p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p></div>

<%- include('partials/footer') %>