<%- include('partials/header') %>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/services.css">
<%- include('partials/scripts') %>
<%- include('partials/nav') %>
<div class="services">
    <!-- horizontal -->

<h3 class="typeWriterAdmin"></h3>
<div class="row">

    <%messages.forEach(message => {%>
<div class="col-lg-4 col-md-6">
<div class="flip flip-vertical">
    <div class="front" style="background-color: #0a2351;">
       <h1 class="text-shadow"><%= message.name %></hi>
    </div>
    <div class="back" style="overflow: scroll;">
       <h2><%= message.email %></h2>
       <p><%= message.message %></strong></p>
    </div>
</div>
</div>

<%});%>

</div>
</div>
<%- include('partials/footer') %>