<%- include('partials/emailheader') %> 

<li class="nav-item">
  <a class="nav-link active spacing" aria-current="page" href="/ehome/<%= email %>">HOME</a>
</li>
<li class="nav-item">
<a class="nav-link active spacing" aria-current="page" href="/emailabout/<%= email %>">ABOUT US</a>
</li>
<li class="nav-item">
<a class="nav-link active spacing" aria-current="page" href="/emailcontact/<%= email %>">CONTACT US</a>
</li>
  
</ul>

</div>
</div>
</nav>

<% if (exist === 'true') { %>
<main class="form-signin drop">
  <form action="/registerold/<%= email %>" method="post">
    <div class="form-floating">
      <input type="text" class="form-control" value="<%= fname %>" readonly>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" value="<%= lname %>" readonly>
    </div>
    <div class="form-floating">
      <select class="form-select" name="accountType" aria-label="Default select example" required>
          <option value="Savings">Savings</option>
          <option value="Current">Current</option>
        </select>
    </div>
    

    

    
    <button class="w-100 btn btn-lg btn-primary" name="numb" type="submit">Create account</button>
    <p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p>
  </form>
</main>
<% } else if (exist === 'false'){ %>

<main class="form-signin">
<form action="/registernew/<%= email %>" method="post">
 
  <div class="form-floating">
    <input class="form-control" type="date" id="start" name="dOB" required>
    <label>Date Of Birth(MM/DD/YYYY)</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" name="address"  autocomplete="off" required>
    <label>Address</label>
  </div>
  <div class="form-floating">
    <input type="tell" class="form-control" name="phoneNo" autocomplete="off" minlength="11"
    maxlength="11" pattern="[0-9]+" required>
    <label>Phone Number</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" name="password" id="sel" id="floatingPassword" autocomplete="new-password" 
    minlength="4" maxlength="4" pattern="[0-9]+" required>
    <label for="floatingPassword">4digit-pin</label>
  </div>
  <div class="form-floating">
    <select class="form-select" name="accountType" aria-label="Default select example" required>
        <option value="Savings">Savings</option>
        <option value="Current">Current</option>
      </select>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" value="Male" name="sex" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Male
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" value="female" name="sex" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
      Female
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" onclick="myFunctions()" value="" id="flexCheckDefault">
    <label class="form-check-label" style="color: antiquewhite;" for="flexCheckDefault">
      Show 4Digit-Pin
    </label>
  </div>

  

  
  <button class="w-100 btn btn-lg btn-primary" name="numb" type="submit">Create account</button>
  <p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p>
</form>
</main>
  
<%}%>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script>
   function year() {
    const today = new Date();
    const options = {
        year: 'numeric'
    };
 
    return today.toLocaleDateString('en-US', options);
  }
   function minyear() {
    return Number(year() - 18);
  }
   function maxyear() {
    return Number(year() - 100);
  }
   function month() {
    const today = new Date();
    const options = {
        month: 'numeric'
    };
 
    return today.toLocaleDateString('en-US', options);
}
 function day() {
    const today = new Date();
    const options = {
        day: 'numeric',
    };
 
    return today.toLocaleDateString('en-US', options);
}
 

 window.onload = $(document).ready(function() {
    $("#start").attr({
      "min" : `${maxyear()}-${month()}-${day()}`,
      "max" : minyear() + '-' + month() + '-' + day()   
    });
});
</script>

<%- include('partials/footer') %> 