<%- include('partials/emailheader') %>

<li class="nav-item">
	<a class="nav-link active spacing" aria-current="page" href="/ehome/<%= email %>">HOME</a>
  </li>
  <li class="nav-item">
	<a class="nav-link active spacing" aria-current="page" href="/emailabout/<%= email %>">ABOUT US</a>
  </li>
  <li class="nav-item">
	<a class="nav-link active spacing" aria-current="page" href="/emailcontact/<%= email %>">CONTACT US</a>
  </li>
  
</ul>

</div>
</div>
</nav>

<main class="form-signin drop">
    <p style="color: yellow;">One or more of Your Security Answer is Incorrect</p>
  <form action="/auth/securityquecheck/<%= email %>" method="POST">
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="favpet"
          autocomplete="off" required>
        <label for="floatingInput">Name of your favorite pet?</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="favfood"  autocomplete="off" required>
        <label for="floatingInput">Your favorite food as a child?</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="yo" name="maidname"  autocomplete="off" required>
        <label>Your mother's maiden name?</label>
      </div>
   
    

    <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
    <p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p>
  </form>
</main>   

<%- include('partials/footer') %> 