<%- include('partials/sideToggleHeader') %> 

<hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="/ehome/<%= email %>" class="nav-link active" aria-current="page">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                  Home
                </a>
              </li>
<li>
  <a href="/dashboard/<%= email %>/<%= HolderAccNo %>" class="nav-link link-dark">
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
    Dashboard
  </a>
</li>
<li>
  <a href="#" class="nav-link link-dark">
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
    Orders
  </a>
</li>
<li>
  <a href="#" class="nav-link link-dark">
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
    Products
  </a>
</li>
<li>
  <a href="https://wa.me/qr/N4M77VDYB6U6C1" class="nav-link link-dark">
    <i class="fa-solid fa-user" style="margin-right: 3%;"></i>
    Customer Service
  </a>
</li>
</ul>
<hr>
<div class="dropdown">
  <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
    <!-- <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
    <svg class="bi rounded-circle me-2" width="32" height="32"><use xlink:href="#people-circle"></use></svg>
    <strong><%= HolderName %> </strong>
  </a>
  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
    <li><a class="dropdown-item" href="/register/<%= email %>">New Account...</a></li>
    <li><a class="dropdown-item" href="/profile/<%= email %>/<%= HolderAccNo %>">Profile</a></li>
    <li><a class="dropdown-item" href="/transactionhis/<%= email %>/<%= HolderAccNo %>">Transaction History</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/auth/logout"  role="button">Sign out</a></li>
  </ul>
</div>
</div>

</div>
</div>
</div>
</nav>

<section class="container">
  <div class="row">
<%histories.forEach(history => {%>
 
          <% if (history.senderAccNo === HolderAccNo || history.receiverAccNo === HolderAccNo && history.status === 'Transaction Successful...') { %> 
          <div id="hide" class="infoBody dey col-md-6 col-lg-4 drop">
            <form action="#" method="post">
              <div class="card">
                  <div class="card-body bg-light cardMargin">
                      
                      <div class="form-floating">
                          <select class="form-select" aria-label="Default select example">
                              <option value="<%= history.senderName %>">Sender Name: <%= history.senderName %></option>
                              
                            </select>
                        </div>
                      <div class="form-floating">
                          <select class="form-select" aria-label="Default select example">
                              <option value="<%= history.senderAccNo %>">Sender AccNo: <%= history.senderAccNo %></option>
                              
                            </select>
                        </div>
                      <div class="form-floating">
                          <select class="form-select" aria-label="Default select example">
                              <option value="<%= history.amountSent %>">Amount Sent: N<%= Number(history.amountSent).toLocaleString() %></option>
                              
                            </select>
                        </div>
                        <div class="form-floating">
                        <select class="form-select" aria-label="Default select example">
                            <option value="<%= history.receiverName %>">Receiver Name: <%= history.receiverName %></option>
                            
                          </select>
                      </div>
                    <div class="form-floating">
                        <select class="form-select" aria-label="Default select example">
                            <option value="<%= history.receiverAccNo %>">Receiver AccNo: <%= history.receiverAccNo %></option>
                            
                          </select>
                      </div>
                    <div class="form-floating">
                        <select class="form-select" aria-label="Default select example">
                            <option value="<%= history.status %>">status: <%= history.status %></option>
                            
                          </select>
                      </div>
                    <div class="form-floating">
                        <select class="form-select" aria-label="Default select example">
                            <option value="<%= history.createdOn %>">Time Of Transaction: <%= history.createdOn %></option>
                            
                          </select>
                      </div>
                      
    
                    </div>
              </div>
          </form>
  </div>
 <% }else if (history.senderAccNo === HolderAccNo && history.status === 'Transaction Failed...') {%> 
  <div id="hide" class="infoBody dey col-md-6 col-lg-4 drop">
    <form action="#" method="post">
      <div class="card">
          <div class="card-body bg-light cardMargin">
              <div class="form-floating">
                  <select class="form-select" aria-label="Default select example">
                      <option value="<%= history.senderName %>">Sender Name: <%= history.senderName %></option>
                      
                    </select>
                </div>
              <div class="form-floating">
                  <select class="form-select" aria-label="Default select example">
                      <option value="<%= history.senderAccNo %>">Sender AccNo: <%= history.senderAccNo %></option>
                      
                    </select>
                </div>
              <div class="form-floating">
                  <select class="form-select" aria-label="Default select example">
                      <option value="<%= history.amountSent %>">Amount Sent: N<%= Number(history.amountSent).toLocaleString() %></option>
                      
                    </select>
                </div>
                <div class="form-floating">
                <select class="form-select" aria-label="Default select example">
                    <option value="<%= history.receiverName %>">Receiver Name: <%= history.receiverName %></option>
                    
                  </select>
              </div>
            <div class="form-floating">
                <select class="form-select" aria-label="Default select example">
                    <option value="<%= history.receiverAccNo %>">Receiver AccNo: <%= history.receiverAccNo %></option>
                    
                  </select>
              </div>
            <div class="form-floating">
                <select class="form-select" aria-label="Default select example">
                    <option value="<%= history.status %>">status: <%= history.status %></option>
                    
                  </select>
              </div>
            <div class="form-floating">
                <select class="form-select" aria-label="Default select example">
                    <option value="<%= history.createdOn %>">Time Of Transaction: <%= history.createdOn %></option>
                    
                  </select>
              </div>
              

            </div>
      </div>
  </form>
</div>
  <% } %> 

   
<%});%>


</section>


  <div class="infoBody nodey dashBoard container">
    <div class="row dash">
        <div class="pricing-column">
          <div class="card">
            
            <div class="card-body bg-light cardMargin">
              
              <p>No Transaction Available</p>
            
            </div>
  
    
          </div>
        </div>
  </div>
  </div>



</main>    
<br>
<div class="container"><p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p></div>

<script>
  


  function scrollBottom() {window.scrollTo(0, document.body.scrollHeight);}
if (document.addEventListener) document.addEventListener("DOMContentLoaded", scrollBottom, false)
else if (window.attachEvent) window.attachEvent("onload", scrollBottom);
</script>

<script>
  window.onload = function emptyCheck() {
    if(!document.getElementById("hide").classList.contains("dey")){
    document.querySelector('.nodey').style.display = 'block';
}  else if (document.getElementById("hide").classList.contains("dey")) {
      document.querySelector('.nodey').style.display = 'none';
    } 
    
  }


</script>
<%- include('partials/footer') %> 

